* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bg-container {
    background-color: #0f172a;
    height: 100vh;
    background-size: cover;
    text-align: center;
  }
  .heading {
    color: white;
    font-family: "Roboto";
    text-align: center;
  }

  .image {
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bg-container {
    background-color: #0f172a;
    height: 100vh;
    background-size: cover;
    text-align: center;
  }
  .heading {
    color: white;
    font-family: "Roboto";
    text-align: center;
  }

  .image {
    height: 300px;
  }
}
